{% extends 'layouts/base.html' %} {% block title %}ATH - Create Employee{%
endblock %} {% block meta_description %}Arabian Tea House survey application{%
endblock %} {% block body %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <h1 class="m-0 font-weight-bold">New employee</h1>
    </div>

    <div class="col-12 mt-5 bg-light">
      <form method="POST">
        {{ form.csrf_token }}

        <fieldset class="p-5">
          <div class="row">
            <!--  -->
            <div class="col-3">
              {{ form.name.label(class="form-label font-weight-bold float-right
              mt-2") }}
            </div>

            <div class="col-7">
              <div class="form-group">
                {{ form.name(class_="form-control")}}
              </div>
            </div>

            <div class="col-2 offset-3">
              <div class="invalid-feedback">Employee fullname is required</div>
            </div>
          </div>

          <!--  -->

          <!--  -->
          <div class="row">
            <div class="col-3">
              {{ form.code.label(class="form-label font-weight-bold float-right
              mt-2") }}
            </div>

            <div class="col-7">
              <div class="form-group">
                {{ form.code(class_="form-control")}}
              </div>
            </div>

            <div class="col-2 offset-3">
              <div class="invalid-feedback">Employee code is required</div>
            </div>
          </div>

          <!--  -->

          <!--  -->
          <div class="row">
            <div class="col-3">
              {{ form.designation.label(class="form-label font-weight-bold
              float-right mt-2") }}
            </div>

            <div class="col-7">
              <div class="form-group">
                {{ form.designation(class_="form-control")}}
              </div>
            </div>

            <div class="col-2 offset-3">
              <div class="invalid-feedback">
                Employee designation is required
              </div>
            </div>
          </div>

          <!--  -->
          <!-- <div class="col-7">
            <div class="form-group">
              <select
                class="
                  form-control form-select form-select-sm
                  selectpicker
                  w-100
                "
                name="branch"
                id="branch"
                data-live-search="true"
              >
                {% for branch in branches %}

                <option value="{{branch.id}}">{{ branch.name }}</option>

                {% endfor %}
              </select>
            </div>
          </div> -->
          <!--  -->
          <div class="row">
            <div class="col-3">
              {{ form.branch.label(class="form-label font-weight-bold
              float-right mt-2") }}
            </div>

            <div class="col-7">
              <div class="form-group">
                {{ form.branch(class_="form-control form-select form-select-sm
                selectpicker w-100")}}
              </div>
            </div>

            <div class="col-2 offset-3">
              <div class="invalid-feedback">
                Employee designation is required
              </div>
            </div>
          </div>

          <!--  -->

          <div class="mt-5">
            <button type="submit" class="btn btn-primary float-right">
              Save
            </button>

            <a
              href="{{ url_for('employee_page.employee_index') }}"
              class="btn btn-secondary float-right mr-2"
              >Cancel</a
            >
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
