{% extends 'layouts/base.html' %} {% block title %}ATH - Branches{% endblock %}
{% block meta_description %}Arabian Tea House survey application{% endblock %}
{% block body %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <h1 class="m-0 font-weight-bold">Branches</h1>
    </div>
    <div class="col-6">
      <a
        href="{{url_for('branch_page.create_branch')}}"
        class="btn btn-primary float-right mr-2"
        >Create branch</a
      >
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Branch Name</th>
            <th scope="col">Address</th>
            <th scope="col">Employees</th>
          </tr>
        </thead>
        <tbody>
          {% for branch in branches %}
          <tr>
            <td>{{ branch.name }}</td>
            <td>{{ branch.address }}</td>
            <td>{{ branch.employees | length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
