{% extends 'layouts/base.html' %}

{% block title %}ATH - Survey{% endblock %}
{% block meta_description %}Arabian Tea House survey application{% endblock %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <h1>Conduct a survey</h1>
      </div>

      <div class="col-12 mt-5">
        <div class="py-5 text-center">
            <form action="#" method="POST">
                
                <div class="mb-1 row align-items-center">
                    <div class="col-3">
                        <label class="form-label float-right font-weight-bold mb-0" for="branch">
                            Branch
                        </label>
                    </div>
            
                    <div class="col-7">
                        <div class="form-group">
                            <select class="form-control form-select form-select-sm selectpicker w-100" 
                            name="branch" id="branch" data-live-search="true">
                            {% for branch in branches %}

                            <option value="{{branch.id}}">
                                {{ branch.name }}
                            </option>

                            {% endfor %}
                            
                        </select>
                        </div>    
                      
            
                    </div>
                    
                    <div class="col-2 offset-3">
                        <div class="invalid-feedback">
                            Please select a branch
                        </div>
                    </div>
            
            
                </div>

                <div class="mb-1 row align-items-center">
                    <div class="col-3">
                        <label class="form-label float-right font-weight-bold mb-0" for="branch">
                            Staff
                        </label>
                    </div>
            
                    <div class="col-7">
                        <div class="form-group">
                            <select class="form-control form-select form-select-sm selectpicker w-100" 
                            name="staff" id="staff" data-live-search="true">

                        </select>
                        </div>
                      
            
                    </div>
                    
                    <div class="col-2 offset-3">
                        <div class="invalid-feedback">
                            Please select a staff
                        </div>
                    </div>
            
            
                </div>

                <div class="mb-1 row align-items-center">
                    <div class="col-3">
                        <label class="form-label float-right font-weight-bold mb-0" for="branch">
                            Survey Type
                        </label>
                    </div>
            
                    <div class="col-7">
                        <div class="form-group">
                            <select class="form-control form-select form-select-sm selectpicker w-100" 
                            name="survey" id="survey" data-live-search="true">
                            <option value="1">
                                Grooming and personal hygiene
                            </option>
                            <option value="2">
                                Customer service
                            </option>
                        
                        </select>
                        </div>
                       
            
                    </div>
                    
                    <div class="col-2 offset-3">
                        <div class="invalid-feedback">
                            Please select a survey
                        </div>
                    </div>
            
            
                </div>
            </form>

            
            <a href="#" class="btn btn-primary">Start survey</a>

            <ul id="list-emp">
            </ul>
        </div>
      </div>
    </div>

    
  </div>
{% endblock %}